{
	"parser": "babel-eslint",
	"plugins": [ "react", "html" ],
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": true,
		"modules": true,
		"spread": true,
		"templateStrings": true,
		"jsx": true
	},
	"rules": {
		"comma-dangle": [2, "only-multiline"],
		"consistent-return": [0],
		"constructor-super": 1,
		"key-spacing": [0],
		"quotes": [0],
		"new-cap": [0],
		"no-console": 1,
		"no-dupe-args": 1,
		"no-dupe-class-members": 1,
		"no-dupe-keys": 1,
		"no-extra-semi": 0,
		"no-multi-spaces": [0],
		"no-shadow": [0],
		"no-redeclare": 1,
		"no-this-before-super": 1,
		"no-undef": 1,
		"no-unused-labels": 1,
		"no-unused-vars": 1,
		"no-use-before-define": [2, "nofunc"],
		"react/jsx-no-undef": 1,
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1
	}
}
